*.swp

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
\#*
*~
.lsp
.clj-kondo/.cache

.claude/settings.local.json
zhistory
__pycache__

# remove before committing to master
_meta/data
_meta/data.en
_meta/feed*.xml